{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

    .custab:hover {
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }
</style>


<nav data-mdb-navbar-init class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" href="{{ url_for('home')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" height="60" width="200" />
            </a>
        </div>

    </div>
</nav>

<!--Container-->
<div class="container">
    <div class="container portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <img src="{{ url_for('static', filename='img/logo-folio.png') }}" />
                </div>
            </div>
        </div>

        <div class="bio-info">
            <div class="row">

                <form class="form-signin" action="ingreso-pacienteAncianoADD" method="POST">
                    <input type="hidden" name="csrf_token" value="">
                    <div class="form-floating mt-2">
                        <input type="number" class="form-control" name="noHistoriaClinica"
                            placeholder="noHistoriaClinica">
                        <label for="noHistoriaClinica">Número de historia clinica</label>
                    </div>
                    <div class="form-floating  mt-2">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre">
                        <label for="nombre">Nombres y Apellidos del Paciente</label>
                    </div>
                    <div class="form-floating mt-2">
                        <input type="number" class="form-control" name="edad" placeholder="edad">
                        <label for="edad">Edad</label>
                    </div>
                    <br>
                    <legend>¿El paciente se encuentra con una dieta?</legend>
                    <div class="form-floating  mt-2">

                        <input type="text" class="form-control" id="poseeDieta" name="poseeDieta"
                            placeholder="poseeDieta">
                        <label for="poseeDieta">Si / No</label>
                    </div>
                    <div>
                        <br>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
                </form>
            </div>

        </div>

    </div>
</div>

</div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section>
        <br>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Transformación Digital de Fonasa
                    </h6>
                    <p>
                        Tenemos el agrado de informar a nuestros clientes las nuevas actualizaciones que
                        se presentan en nuestros sitios para brindar un mejor servicio a nuestros clientes.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Redes Sociales
                    </h6>
                    <p>
                        <a href="https://web.facebook.com/FonasaChile/?_rdc=1&_rdr" class="text-reset"><i
                                class="fa fa-facebook" style="font-size:25px"></i></a>
                    </p>
                    <p>
                        <a href="https://twitter.com/fonasa?lang=en" class="text-reset"><i class="fa fa-twitter"
                                style="font-size:25px"></i></a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/fonasachile/" class="text-reset"><i class="fa fa-instagram"
                                style="font-size:25px"></i></a>
                    </p>
                    <p>
                        <a href="https://www.youtube.com/channel/UCEb6BZnaMmGaDjoEGElnDMg" class="text-reset"><i
                                class="fa fa-youtube" style="font-size:25px"></i></a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                    <p>
                        contacto@fonasa.com
                    </p>
                    <p><i class="fa fa-phone" style="font-size:25px;margin-right:10px ;"></i>6000 061 011</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(211, 255, 182, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold">Gobierno de Chile</a>
    </div>
</footer>
</div>
</div>
</div>
{% endblock %}