.ubicanos-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.ubicanos-title::after {
    background: #fd0101 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}


.ubicanos-title1 {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.ubicanos-title1::after {
    background: #0101fd none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
